{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mythra Vault{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cards/css/style.css' %}">
    <style>
        body {
            background: url("{% static 'cards/images/bodywallpaper.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'cards/images/Mythra.png' %}" alt="Mythra Vault Logo">
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Open Packs</a></li>
            <li><a href="{% url 'library' %}">Library</a></li>
        </ul>
    </nav>

    <!-- Content block for page-specific content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>Mythra Vault © 2024</p>
    </footer>
</body>
</html>
